<div class="m-container flex-column d-flex">
    <div class="text-dark d-grid col-7 mx-auto mb-5">
        <label class="me-auto fw-500">step 3/5</label>
        <label class="me-auto fs-3 fw-500">Legal Document</label>
        <label class="me-auto">optional</label>
    </div>
    <div class="col-7 mx-auto d-flex flex-column flex-fill">
        <div class="d-flex row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-secondary">Certificate Of Registration*</label>
                    <div class="ID-upload-content rounded-3">
                        <img src="assets/img/project/up_arrow.png" width="32" class="img-fluid mx-auto my-auto" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-secondary">Vat Certificate*</label>
                    <div class="ID-upload-content rounded-3">
                        <img src="assets/img/project/up_arrow.png" width="32" class="img-fluid mx-auto my-auto" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mb-5 flex-fill d-flex flex-column">
            <div class="d-grid mt-auto">
                <button class="btn next-button" (click)="onClickNext()">Next</button>
            </div>
        </div>
    </div>
</div>