<app-toolbar-action [isFilterShow]="false" [isSearchPanelShow]="false"></app-toolbar-action>
<div class="container">
    <div class="card border-0 py-5">
        <div class="row g-0">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="detail-image-wrapper text-center rounded-5">
                    <img src="assets/img/project/reward_drops/2.png" class="rounded-5" />
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="d-flex flex-column px-5 h-100">
                    <div class="d-flex flex-row">
                        <img src="assets/img/project/symbol.png" width="128" />
                        <div class="symbol-info-wrapper d-grid">
                            <label>Starbucks</label>
                            <label>Collection Name: Premium Rewards</label>
                            <label>Price 27.00$</label>
                        </div>
                    </div>
                    <div class="shadow rounded-4 px-4 py-3 mt-3">
                        <div
                            class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 row-cols-sm-1 g-3">
                            <div class="col d-flex flex-column">
                                <label  class="mt-2">Reward Detail</label>
                                <label>Free Caramel Macchiato for Life</label>
                                <label class="mt-4">Reward Rarity</label>
                                <label>Common</label>
                                <label class="mt-4">Seller</label>
                                <label>Mohamad AI Srouji</label>
                            </div>
                            <div class="col d-flex flex-column">
                                <label  class="mt-2">Chances to win in original draw:</label>
                                <label>20%</label>
                                <label class="mt-4">Digital Asset Characteristics:</label>
                                <label>Layer Name</label>
                                <label>Layer Name</label>
                                <label>Layer Name</label>
                                <label>Layer Name</label>
                                <label>Layer Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 row-cols-sm-1 g-3 flex-fill">
                        <div class="mt-auto">
                            <app-custom-button [isTextStroke]="false" [text]="'buy now'"></app-custom-button>
                        </div>
                        <div class="mt-auto">
                            <app-custom-button [isTextStroke]="false" [isBackgroundTransparent]="true" [text]="'bid now'"></app-custom-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>