// ----------------------------------------------------------------------------------------------
// NOTE Variables -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'variables.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Complete bootstrap
@import 'bootstrap/scss/bootstrap.scss';

// NOTE Bootstrap configuration
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';

// // NOTE Merge maps
// $theme-colors: map-merge($theme-colors, $custom-colors);

// @import '~bootstrap/scss/utilities';

// // NOTE Bootstrap layout & components
// @import '~bootstrap/scss/root';
// @import '~bootstrap/scss/reboot';
// @import '~bootstrap/scss/type';
// // @import '~bootstrap/scss/images';
// @import '~bootstrap/scss/containers';
// @import '~bootstrap/scss/grid';
// @import '~bootstrap/scss/tables';
// @import '~bootstrap/scss/forms';
// @import '~bootstrap/scss/buttons';
// @import '~bootstrap/scss/transitions';
// @import '~bootstrap/scss/dropdown';
// // @import '~bootstrap/scss/button-group';
// @import '~bootstrap/scss/nav';
// @import '~bootstrap/scss/navbar';
// @import '~bootstrap/scss/card';
// // @import '~bootstrap/scss/accordion';
// // @import '~bootstrap/scss/breadcrumb';
// // @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
// // @import '~bootstrap/scss/alert';
// // @import '~bootstrap/scss/progress';
// // @import '~bootstrap/scss/list-group';
// // @import '~bootstrap/scss/close';
// @import '~bootstrap/scss/toasts';
// @import '~bootstrap/scss/modal';
// @import '~bootstrap/scss/tooltip';
// @import '~bootstrap/scss/popover';
// // @import '~bootstrap/scss/carousel';
// @import '~bootstrap/scss/spinners';
// // @import '~bootstrap/scss/offcanvas';

// // NOTE Boostrap helpers
// @import '~bootstrap/scss/helpers';

// // NOTE Boostrap utilities
// @import '~bootstrap/scss/utilities/api';

// ----------------------------------------------------------------------------------------------
// NOTE External components ---------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// $roboto-font-path: "~roboto-fontface/fonts" !default;
// @import "~roboto-fontface/css/roboto/sass/roboto-fontface";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// ----------------------------------------------------------------------------------------------
// NOTE Project style ---------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'project.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Overwrite styles ------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// @import 'modules/_bootstrap.scss';
body {
    background-color: black;
    color           : white;
    word-break      : break-all !important;

}

// scroll 
.drag-scroll-content {
    overflow: hidden !important;
}

// font-weight
.fw-900 {
    font-weight: 900 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.text-break {
    white-space: initial !important;
    text-align : left;
}



// scratch card 
#js--sc--container {
    // max-width: 300px;
    width    : 100%;
    // height: 300px;
    margin   : auto;
    position : relative;

    img {
        width     : 90%;
        height    : 90%;
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, -50%);
        object-fit: fill;
    }

    canvas {
        position     : absolute;
        top          : 0px;
        left         : 0px;
        z-index      : 99;
        border-radius: 5px;
    }

    .cardamountcss {
        z-index  : 9;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);
        position : absolute;

        .won-amnt {
            font-size: 5em;
            color    : #424242;
        }

        .won-text {
            font-size: 4em;
            color    : #424242;
        }
    }

    .sc__inner {
        background-color: #ffffff;
        height          : 100%;
        width           : 100%;
        border-radius   : 5px;
        // border: 1px solid #26005f;
    }
}

@media screen and (min-width: 1200px) {
    #js--sc--container {
        width: 768px!important;
    }  
}
@media (min-width: 992px) {
    #js--sc--container {
        width: 768px!important;
    }  
}

@media (min-width: 768px) {
    #js--sc--container {
        width: 768px!important;
    }   
}

@media (min-width: 576px) {
    #js--sc--container {
        width: 768px!important;
    } 
}
@font-face {
    font-family: app_font;
    src        : url('../fonts/Gotham-Font/Gotham-Black.otf');
}

