<app-toolbar-action (onFilterAction)="onHanldeFilter($event)"></app-toolbar-action>
<div class="row">
    <div class="col-3" *ngIf="isShowFilterPanel">
        <app-filter-panel (onCloseEvent)="onHandleCloseFilterPanel($event)"></app-filter-panel>
    </div>
    <div [ngClass]="{'col-9' : isShowFilterPanel, 'col-12' : !isShowFilterPanel}">
        <div class="row row-cols-1  g-3" [ngClass]="{'row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 row-cols-sm-2' : isShowFilterPanel, 'row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4 row-cols-sm-2' : !isShowFilterPanel}">
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>
            <div class="col px-2">
                <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
            </div>

        </div>
    </div>
</div>

<app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage" (changePage)="onChangePage($event)">
</app-pagination>