<div class="mb-4">
    <div ngbDropdown class="d-inline-block">
        <label class="fs-3" id="dropdownBasic1" ngbDropdownToggle>
            {{reward_type}}
        </label>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="rounded-4">
            <button ngbDropdownItem (click)="onHandleSelectType('Action - 1')">Action - 1</button>
            <button ngbDropdownItem (click)="onHandleSelectType('Another Action')">Another Action</button>
            <button ngbDropdownItem (click)="onHandleSelectType('Something else is here')">Something else is here</button>
        </div>
    </div>
</div>
<div class="row row-cols-1  g-3" [ngClass]="{'row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3 row-cols-sm-2' : isShowFilterPanel, 'row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4 row-cols-sm-2' : !isShowFilterPanel}">
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>
    <div class="col px-2">
        <app-reward-card-item (onItemClick)="onHandleDetail($event)"></app-reward-card-item>
    </div>

</div>

<app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage" (changePage)="onChangePage($event)">
</app-pagination>