footer {
    // position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}
@media screen and (max-width: 560px) {
    .footer-title {
        font-size: 14px!important;
    }
}