<div class="d-flex flex-column justify-content-center h-100">
  <div class="mx-auto mb-5 d-grid" [ngStyle]="{'margin-top.rem' : -10}">
    <label class="fs-2 fw-500 ">Verify Your Account</label>
    <label>We sent you an OTP to your email. <span class="ms-5"
        [ngStyle]="{'color' : '#ff7600'}">hello@hotmail.com</span></label>
  </div>
  <ng-otp-input class="mb-2" (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
  <div class="mx-auto">
    <label>Don't Receive OTP? <a [ngStyle]="{'color' : '#000', 'text-decoration' : 'underline'}">Send Again
        Here</a></label>
  </div>
  <div class="mx-auto mb-4" [ngStyle]="{'width.rem' : 10, 'margin-top.rem': 3}">
    <app-custom-button [text]="'Next'" (onClickEvent)="onClickNext($event)">
    </app-custom-button>
  </div>
</div>