<div class="d-flex flex-column justify-content-center h-100">
  <div class="fs-2 fw-500 mx-auto mb-5" [ngStyle]="{'margin-top.rem' : -10}">Gain Access</div>
  <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()">
    <div class="mx-auto mb-3 input-group position-relative" [ngStyle]="{'width.rem' : 25, 'height.rem' : 3}">
      <input type="email" formControlName="email" class="form-control rounded-pill" placeholder="Email Address">
    </div>
    <div class="mx-auto mb-4 input-group position-relative" [ngStyle]="{'width.rem' : 25, 'height.rem' : 3}">
      <input type="password" formControlName="password" class="form-control rounded-pill" placeholder="Password">
      <img class="addon-img" src="assets/img/project/password_addon.png" height="18" />
    </div>
    <div class="mx-auto text-start mb-4" [ngStyle]="{'width.rem' : 25}">
      <a class="ps-3" routerLink="/auth/forgot-password" [ngStyle]="{'color' : '#ff7600', 'text-decoration' : 'none'}">Forgot
        Password? </a>
    </div>
    <div class="mx-auto mb-4" [ngStyle]="{'width.rem' : 10}">
      <app-custom-button [text]="'login'">
      </app-custom-button>
    </div>
    <div class="mx-auto mb-4">
      <label class="cursor-pointer">
        <img src="assets/img/project/google_icon.png" height="48" class="me-2" />
      </label>
      <label class="cursor-pointer">
        <img src="assets/img/project/fb_icon.png" height="48" />
      </label>
    </div>
    <div class="mx-auto">
      <label >Do you have an account? <a [routerLink]="'/auth/user-signup'" [ngStyle]="{'color' : '#ff7600', 'text-decoration' : 'none'}">Sign up here</a></label>
    </div>
  </form>


</div>