.pickcard-container {
    background-color: white;
    min-height      : 85vh;
    position        : relative;
}

.coin-image-wrapper {
    position: absolute;
    right   : 1rem;
    bottom  : 1rem;
    cursor: pointer;
    
    img {
        width: 10rem;
    }
    .inner-item {
        width        : 87%;
        background   : white;
        height       : 87%;
        border-radius: 50%;
        position     : absolute;
        left         : 5px;
        top          : 4px;
    }
    .expanded-fab {
        position     : absolute;
        width        : 5rem;
        height       : 5rem;
        box-shadow   : 1px 2px 1px #282828, white 2px 1px 0px inset;
        border-radius: 50%;
        color        : black;
        background-color: black;
    }

    .lightning {
        right: 2rem;
        top  : -6rem;
    }

    .refresh {
        right: 9.5rem;
        top  : -3rem;
    }

    .turn {
        right : 11rem;
        bottom: 1rem;
    }
}

.button-content {
    width: 20vw;
}

.card-content {
    width           : 100%;
    height          : 30vw;
    position        : relative;
    margin-top      : 80px;
    // margin-bottom: 3rem;
}

.before-content {
    width          : 100%;
    height         : 100%;
    position       : absolute;
    left           : 50%;
    top            : 50%;
    transform      : translate(-50%, -50%);
    perspective    : 1000px;
    transform-style: preserve-3d;

    .card {
        width           : 18vw;
        border          : none;
        background-color: transparent;

        position          : absolute;
        left              : calc(50% - 13.5vw);
        transform-origin  : center;
        -webkit-transition: top 0.3s ease, left 0.3s ease;
        -moz-transition   : top 0.3s ease, left 0.3s ease;
        -o-transition     : top 0.3s ease, left 0.3s ease;
        -ms-transition    : top 0.3s ease, left 0.3s ease;
        transition        : top 0.3s ease, left 0.3s ease;
    }

    .card-1 {
        -webkit-transform: translate3d(-5vw, 10px, 0) rotate(-25deg);
        -moz-transform   : translate3d(-5vw, 10px, 0) rotate(-25deg);
        -o-transform     : translate3d(-5vw, 10px, 0) rotate(-25deg);
        -ms-transform    : translate3d(-5vw, 10px, 0) rotate(-25deg);
        transform        : translate3d(-5vw, 10px, 0) rotate(-25deg);
    }

    .card-2 {
        -webkit-transform: translate3d(0vw, -5px, 0) rotate(-10deg);
        -moz-transform   : translate3d(0vw, -5px, 0) rotate(-10deg);
        -o-transform     : translate3d(0vw, -5px, 0) rotate(-10deg);
        -ms-transform    : translate3d(0vw, -5px, 0) rotate(-10deg);
        transform        : translate3d(0vw, -5px, 0) rotate(-10deg);
    }

    .card-3 {
        -webkit-transform: translate3d(6vw, -10px, 0) rotate(0deg);
        -moz-transform   : translate3d(6vw, -10px, 0) rotate(0deg);
        -o-transform     : translate3d(6vw, -10px, 0) rotate(0deg);
        -ms-transform    : translate3d(6vw, -10px, 0) rotate(0deg);
        transform        : translate3d(6vw, -10px, 0) rotate(0deg);
    }

    .card-4 {
        -webkit-transform: translate3d(13vw, 3vw, 0) rotate(20deg);
        -moz-transform   : translate3d(13vw, 3vw, 0) rotate(20deg);
        -o-transform     : translate3d(13vw, 3vw, 0) rotate(20deg);
        -ms-transform    : translate3d(13vw, 3vw, 0) rotate(20deg);
        transform        : translate3d(13vw, 3vw, 0) rotate(20deg);
    }
}

// .card-content-after {
//     width: 100vw;
//     height: 35vw;
//     position: relative;
// }
.after-content {
    width          : 100%;
    height         : 100%;
    position       : relative;
    perspective    : 1000px;
    transform-style: preserve-3d;

    .pick-card {
        width           : 18vw;
        height          : 24vw;
        border          : none;
        background-color: transparent;
        position        : absolute;
        left            : calc(50% - 5vw);
        transform-origin: center;
        pointer-events  : none;

        img.pick-card-backimg {
            width : 100%;
            height: 100%;
        }
    }

    .card-1 {
        -webkit-transform: translate3d(-30vw, 0px, 0px) rotate(25deg);
        -moz-transform   : translate3d(-30vw, 0px, 0px) rotate(25deg);
        -o-transform     : translate3d(-30vw, 0px, 0px) rotate(25deg);
        -ms-transform    : translate3d(-30vw, 0px, 0px) rotate(25deg);
        transform        : translate3d(-30vw, 0px, 0px) rotate(25deg);
    }

    .card-2 {
        -webkit-transform: translate3d(-12vw, 0px, -100px) rotate(-20deg);
        -moz-transform   : translate3d(-12vw, 0px, -100px) rotate(-20deg);
        -o-transform     : translate3d(-12vw, 0px, -100px) rotate(-20deg);
        -ms-transform    : translate3d(-12vw, 0px, -100px) rotate(-20deg);
        transform        : translate3d(-12vw, 0px, -100px) rotate(-20deg);
    }

    .card-3 {
        -webkit-transform: translate3d(4vw, 5px, 0px) rotate(20deg);
        -moz-transform   : translate3d(4vw, 5px, 0px) rotate(20deg);
        -o-transform     : translate3d(4vw, 5px, 0px) rotate(20deg);
        -ms-transform    : translate3d(4vw, 5px, 0px) rotate(20deg);
        transform        : translate3d(4vw, 5px, 0px) rotate(20deg);
    }

    .card-4 {
        -webkit-transform: translate3d(12vw, -7vw, -50px) rotate(0deg);
        -moz-transform   : translate3d(12vw, -7vw, -50px) rotate(0deg);
        -o-transform     : translate3d(12vw, -7vw, -50px) rotate(0deg);
        -ms-transform    : translate3d(12vw, -7vw, -50px) rotate(0deg);
        transform        : translate3d(12vw, -7vw, -50px) rotate(0deg);
    }

    .card-5 {
        -webkit-transform: translate3d(22vw, 50px, 0px) rotate(-25deg);
        -moz-transform   : translate3d(22vw, 50px, 0px) rotate(-25deg);
        -o-transform     : translate3d(22vw, 50px, 0px) rotate(-25deg);
        -ms-transform    : translate3d(22vw, 50px, 0px) rotate(-25deg);
        transform        : translate3d(22vw, 50px, 0px) rotate(-25deg);
    }
}

.card1-firstani {
    animation: card1-firstani 2s 1 1s forwards;
}

.fcard {
    width     : 18vw;
    height    : 24vw;
    visibility: hidden;
    opacity   : 0;
}

@keyframes card1-firstani {
    100% {
        transform: translate3d(-30vw, 70px, 0px) rotate(-40deg);
    }
}

.card2-firstani {
    animation: card2-firstani 2s 1 1s forwards;
}

@keyframes card2-firstani {
    100% {
        transform: translate3d(-7vw, 0px, -100px) rotate(-20deg);
    }
}

.card3-firstani {
    animation: card3-firstani 2s 1 1s forwards;
}

@keyframes card3-firstani {
    100% {
        transform: translate3d(-20vw, 5px, 0px) rotate(20deg);
    }
}

.card4-firstani {
    animation: card4-firstani 2s 1 1s forwards;
}

@keyframes card4-firstani {
    100% {
        transform: translate3d(17vw, -90px, -50px) rotate(0deg);
    }
}

.card5-firstani {
    animation: card5-firstani 2s 1 1s forwards;
}

@keyframes card5-firstani {
    100% {
        transform: translate3d(8vw, 50px, 0px) rotate(-25deg);
    }
}

// =========================== flip card part =================================
.flip-wrapper {
    position     : absolute;
    width        : 100%;
    height       : 100%;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition     : transform 1s;
    transform-style: preserve-3d;
    perspective    : 1000px;
}

.selectedCard .flip-wrapper {
    transform : rotateY(180deg);
    transition: transform 0.5s;
}

.flip-front,
.flip-back {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    background         : transparent;
    text-align         : center;
    backface-visibility: hidden;
}

img.front-image {
    width : 100%;
    height: 100%;
}

.flip-back {
    background: transparent;
    color     : white;
    transform : rotateY(180deg);
}

.reward-image-wrapper {
    width          : 100%;
    height         : 100%;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .reward-image {
        width : 12vw;
        height: 12vw;
    }

    .reward-title {
        width          : 60%;
        line-height    : 1.2;
        font-size      : 18px;
        font-family    : app_font;
        height         : 70px;
        word-break     : break-word;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .reward-item-id {
        font-size  : 18px;
        font-family: app_font;
    }

    .reward-card-footer {
        width: 95%;

        .left-footer-item img {
            max-width: 48px;
            // height: 48px;
        }

        .right-footer-item img {
            // width: 48px;
            // height: 48px;
            max-width: 80px;
        }
    }


}

// =========================== End flip card part =================================
@media (max-width: 575px) {
    .reward-image-wrapper {
        .reward-image {
            margin-top: 5px;
            width     : 28vw;
            height    : 28vw;
        }

        .reward-title {
            font-size     : 14px;
            padding-bottom: 2px !important;
            height        : 50px;
        }

        .reward-item-id {
            font-size: 12px;
        }

        .reward-card-footer {
            padding: 0px !important;
            width  : 98%;

            .left-footer-item img {
                max-width: 32px;
                // height: 48px;
            }

            .right-footer-item img {
                // width: 48px;
                // height: 48px;
                max-width: 48px;
            }
        }

    }
    .card-content {
        width: 100%;
        height: 70vw;
        position: relative;
        margin-top: 0px;
        overflow-x: clip;
        // overflow-x: hidden;
    }
    .before-content {
        .card {
            width           : 40vw;
            left              : calc(50% - 20vw);
        }
    
        .card-1 {
            -webkit-transform: translate3d(-9vw, 1vw, 0) rotate(-25deg);
            -moz-transform   : translate3d(-9vw, 1vw, 0) rotate(-25deg);
            -o-transform     : translate3d(-9vw, 1vw, 0) rotate(-25deg);
            -ms-transform    : translate3d(-9vw, 1vw, 0) rotate(-25deg);
            transform        : translate3d(-9vw, 1vw, 0) rotate(-25deg);
        }
    
        .card-2 {
            -webkit-transform: translate3d(0vw, -1vw, 0) rotate(-10deg);
            -moz-transform   : translate3d(0vw, -1vw, 0) rotate(-10deg);
            -o-transform     : translate3d(0vw, -1vw, 0) rotate(-10deg);
            -ms-transform    : translate3d(0vw, -1vw, 0) rotate(-10deg);
            transform        : translate3d(0vw, -1vw, 0) rotate(-10deg);
        }
    
        .card-3 {
            -webkit-transform: translate3d(13vw, -2vw, 0) rotate(4deg);
            -moz-transform   : translate3d(13vw, -2vw, 0) rotate(4deg);
            -o-transform     : translate3d(13vw, -2vw, 0) rotate(4deg);
            -ms-transform    : translate3d(13vw, -2vw, 0) rotate(4deg);
            transform        : translate3d(13vw, -2vw, 0) rotate(4deg);
        }
    
        .card-4 {
            -webkit-transform: translate3d(20vw, 5vw, 0) rotate(20deg);
            -moz-transform   : translate3d(20vw, 5vw, 0) rotate(20deg);
            -o-transform     : translate3d(20vw, 5vw, 0) rotate(20deg);
            -ms-transform    : translate3d(20vw, 5vw, 0) rotate(20deg);
            transform        : translate3d(20vw, 5vw, 0) rotate(20deg);
        }
    }
    .after-content {
        .pick-card {
            width           : 40vw;
            height          : 50vw;
            left            : calc(50% - 20vw);
        }
    
        .card-1 {
            -webkit-transform: translate3d(-20vw, 80vw, 0px) rotate(-25deg);
            -moz-transform   : translate3d(-20vw, 80vw, 0px) rotate(-25deg);
            -o-transform     : translate3d(-20vw, 80vw, 0px) rotate(-25deg);
            -ms-transform    : translate3d(-20vw, 80vw, 0px) rotate(-25deg);
            transform        : translate3d(-20vw, 80vw, 0px) rotate(-25deg);
        }
    
        .card-2 {
            -webkit-transform: translate3d(-18vw, 40vw, -100px) rotate(-20deg);
            -moz-transform   : translate3d(-18vw, 40vw, -100px) rotate(-20deg);
            -o-transform     : translate3d(-18vw, 40vw, -100px) rotate(-20deg);
            -ms-transform    : translate3d(-18vw, 40vw, -100px) rotate(-20deg);
            transform        : translate3d(-18vw, 40vw, -100px) rotate(-20deg);
        }
    
        .card-3 {
            -webkit-transform: translate3d(4vw, 5px, 0px) rotate(-10deg);
            -moz-transform   : translate3d(4vw, 5px, 0px) rotate(-10deg);
            -o-transform     : translate3d(4vw, 5px, 0px) rotate(-10deg);
            -ms-transform    : translate3d(4vw, 5px, 0px) rotate(-10deg);
            transform        : translate3d(4vw, 5px, 0px) rotate(-10deg);
        }
    
        .card-4 {
            -webkit-transform: translate3d(20vw, 40vw, 20px) rotate(0deg);
            -moz-transform   : translate3d(20vw, 40vw, 20px) rotate(0deg);
            -o-transform     : translate3d(20vw, 40vw, 20px) rotate(0deg);
            -ms-transform    : translate3d(20vw, 40vw, 20px) rotate(0deg);
            transform        : translate3d(20vw, 40vw, 20px) rotate(0deg);
        }
    
        .card-5 {
            -webkit-transform: translate3d(22vw, 70vw, 30px) rotate(25deg);
            -moz-transform   : translate3d(22vw, 70vw, 30px) rotate(25deg);
            -o-transform     : translate3d(22vw, 70vw, 30px) rotate(25deg);
            -ms-transform    : translate3d(22vw, 70vw, 30px) rotate(25deg);
            transform        : translate3d(22vw, 70vw, 30px) rotate(25deg);
        }
    }
    .fcard {
        width     : 40vw;
        height    : 50vw;
    }
    @keyframes card1-firstani {
        100% {
            transform        : translate3d(-20vw, 15vw, 0px) rotate(-25deg);
        }
    }
    @keyframes card2-firstani {
        100% {
            transform        : translate3d(-18vw, 85vw, -100px) rotate(-20deg);
        }
    }
    @keyframes card3-firstani {
        100% {
            transform        : translate3d(14vw, 25vw, 0px) rotate(-10deg);
        }
    }
    @keyframes card4-firstani {
        100% {
            transform        : translate3d(20vw, 1vw, 20px) rotate(0deg);
        }
    }
    @keyframes card5-firstani {
        100% {
            transform        : translate3d(22vw, 50vw, 30px) rotate(25deg);
        }
    }
    .button-content {
        width: 30vw;
    }

    .coin-image-wrapper {
        img {
            width: 6rem;
        }

        .expanded-fab {
            width : 2.5rem;
            height: 2.5rem;
        }

        

        .lightning {
            right: 1rem;
            top  : -3.5rem;
        }

        .refresh {
            right: 5.8rem;
            top  : -1.7rem;
        }

        .turn {
            right : 7rem;
            bottom: 1rem;
        }
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .reward-image-wrapper {
        .reward-image {
            width : 10vw;
            height: 10vw;
        }

        .reward-title {
            font-size     : 10px;
            padding-bottom: 2px !important;
            height        : 60px;
        }

        .reward-item-id {
            font-size: 10px;
        }

        .reward-card-footer {
            padding-top: 0px !important;
            width      : 98%;

            .left-footer-item img {
                max-width: 18px;
                // height: 48px;
            }

            .right-footer-item img {
                // width: 48px;
                // height: 48px;
                max-width: 36px;
            }
        }

    }

    .button-content {
        width: 23vw;
    }

    .coin-image-wrapper {
        img {
            width: 8rem;
        }

        .refresh {
            right: 7.5rem;
            top  : -3.2rem;
        }

        .turn {
            right : 9rem;
            bottom: 1rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .reward-image-wrapper {
        .reward-image {
            width : 10vw;
            height: 10vw;
        }

        .reward-title {
            font-size     : 12px;
            padding-bottom: 2px !important;
            height        : 60px;
        }

        .reward-item-id {
            font-size: 12px;
        }

        .reward-card-footer {
            padding-top: 2px !important;
            width      : 98%;

            .left-footer-item img {
                max-width: 32px;
                // height: 48px;
            }

            .right-footer-item img {
                // width: 48px;
                // height: 48px;
                max-width: 40px;
            }
        }


    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .reward-image-wrapper {
        .reward-image {
            width : 11vw;
            height: 11vw;
        }

        .reward-title {
            font-size: 16px;
        }

        .reward-item-id {
            font-size: 16px;
        }

        .reward-card-footer {
            padding-top: 3px !important;

            .left-footer-item img {
                max-width: 28px;
                // height: 48px;
            }

            .right-footer-item img {
                // width: 48px;
                // height: 48px;
                max-width: 55px;
            }
        }


    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .reward-image-wrapper {
        .reward-image {
            width : 11vw;
            height: 11vw;
        }

        .reward-title {
            font-size: 16px;
        }

        .reward-item-id {
            font-size: 16px;
        }

        .reward-card-footer {
            .left-footer-item img {
                max-width: 36px;
                // height: 48px;
            }

            .right-footer-item img {
                // width: 48px;
                // height: 48px;
                max-width: 60px;
            }
        }


    }
}

#card_content {
    --left3 : 0px;
    --x3    : 0px;
    --y3    : 0px;
    --z3    : 0px;
    --angle3: 0deg;

    --left4 : 0px;
    --x4    : 0px;
    --y4    : 0px;
    --z4    : 0px;
    --angle4: 0deg;

    --left5 : 0px;
    --x5    : 0px;
    --y5    : 0px;
    --z5    : 0px;
    --angle5: 0deg;
}

.hidden {
    visibility: hidden;
    opacity   : 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
    visibility: visible;
    transition: opacity 1s linear;
}

.d-hidden {
    visibility: hidden;
    opacity   : 0;
}

.d-visible {
    visibility: visible;
    opacity   : 1;
}

.visible-ani {
    visibility        : visible;
    opacity           : 1;
    transition        : 2s opacity;
    -webkit-transition: 2s opacity;
    -moz-transition   : 2s opacity;
    -o-transition     : 2s opacity;
    -ms-transition    : 2s opacity;
    // animation : visible-ani 2s 1 forwards;
}

.hidden-ani {

    animation: hidden-ani 2s 1 forwards;
}

@keyframes visible-ani {
    100% {
        opacity: 1;
    }
}

.fcard3-animation {
    animation: fcard3-animation 1s 1 0s forwards, fcard3-movement 1s 1 0s forwards;
}

@keyframes fcard3-animation {
    0% {
        transform: translate3d(var(--x3), var(--y3), var(--z3)) rotate(var(--angle3));
    }

    100% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
        -moz-transform   : translate3d(0px, 0px, 0px) rotate(0deg);
        -o-transform     : translate3d(0px, 0px, 0px) rotate(0deg);
        -ms-transform    : translate3d(0px, 0px, 0px) rotate(0deg);
        transform        : translate3d(0px, 0px, 0px) rotate(0deg);
    }
}

@keyframes fcard3-movement {
    100% {
        left: var(--left3);
    }
}

.fcard4-animation {
    animation: fcard4-animation 1s 1 0s forwards, fcard4-movement 1s 1 0s forwards;
}

@keyframes fcard4-animation {
    0% {
        transform: translate3d(var(--x4), var(--y4), var(--z4)) rotate(var(--angle4));
    }

    100% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
        -moz-transform   : translate3d(0px, 0px, 0px) rotate(0deg);
        -o-transform     : translate3d(0px, 0px, 0px) rotate(0deg);
        -ms-transform    : translate3d(0px, 0px, 0px) rotate(0deg);
        transform        : translate3d(0px, 0px, 0px) rotate(0deg);
    }
}

@keyframes fcard4-movement {
    100% {
        left: var(--left4);
    }
}

.fcard5-animation {
    animation: fcard5-animation 1s 1 0s forwards, fcard5-movement 1s 1 0s forwards;
}

@keyframes fcard5-animation {
    0% {
        -webkit-transform: translate3d(var(--x5), var(--y5), var(--z5)) rotate(var(--angle5));
        -moz-transform   : translate3d(var(--x5), var(--y5), var(--z5)) rotate(var(--angle5));
        -o-transform     : translate3d(var(--x5), var(--y5), var(--z5)) rotate(var(--angle5));
        -ms-transform    : translate3d(var(--x5), var(--y5), var(--z5)) rotate(var(--angle5));
        transform        : translate3d(var(--x5), var(--y5), var(--z5)) rotate(var(--angle5));
    }

    100% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotate(0deg);
        -moz-transform   : translate3d(0px, 0px, 0px) rotate(0deg);
        -o-transform     : translate3d(0px, 0px, 0px) rotate(0deg);
        -ms-transform    : translate3d(0px, 0px, 0px) rotate(0deg);
        transform        : translate3d(0px, 0px, 0px) rotate(0deg);
    }
}

@keyframes fcard5-movement {
    100% {
        left: var(--left5);
    }
}


.opacity-0 {
    opacity           : 0 !important;
    transition        : 2s opacity;
    -webkit-transition: 2s opacity;
    -moz-transition   : 2s opacity;
    -o-transition     : 2s opacity;
    -ms-transition    : 2s opacity;
    pointer-events    : none;
}

.opacity-1 {
    opacity       : 1 !important;
    pointer-events: inherit;
}