.spin-mark {
    position: absolute;
    width: 100%;
    img {
        width: 5%;
    }
}
.spin-panel {
    margin-top: 4%;
    width: 70vw;
    height: 35vw;
    max-width: 840px;
    max-height: 420px;
}

.start-spin-button {
    width: 350px;
}