.spin-wrapper {
    position: relative;
}
.spin-mark {
    position: absolute;
    width: 100%;
    z-index: 3;
    img {
        width: 5%;
    }
}
.spin-component {
    margin-top: 4%;
    position: relative;
    .spin-panel {
        vertical-align: bottom;
        width: 95vw;
        height: 95vw;
        max-width: 800px;
        max-height: 800px;
    }
    .spin-center {      
        position: absolute;
        z-index: 2;
        width: 100%;
        img {            
            width: 6%;
        }
    }
}

.snatch-reward-item {
    width: 10rem;
    height: 2.5rem;
    background-color: black;
    font-family: app_font!important;
    p.text-white {
        font-size: 12px!important;
        line-height: 1.2;
        margin-bottom: 1px;
    }
}

.spin-result {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    img {
        display: none;
        -webkit-mask-image: url("/assets/img/project/game/spin/spin-mask.png");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position-x: center;
        -webkit-mask-position-y: bottom;
        -webkit-mask-size: contain;
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
}