* {
    color: black;
}

.merchant-wrapper {
    min-height      : calc(100vh - 177px);
    position        : relative;
    background-color: white;
    color           : black;
}
.merchant-table-wrapper {
    overflow-x: auto;
}
.merchant-table {
    font-size: 12px;
    min-width: 1100px;
    tbody {
        tr {
            background-color: transparent;
            border          : none;

            td {
                text-align    : center;
                vertical-align: middle;
                border        : none;
            }

            td:not(:last-child) {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        td:nth-child(5),
        td:nth-child(6) {
            word-break: break-word;
        }
        td:nth-child(n+1):nth-child(-n+4), td:nth-child(7){
            font-weight: bold;
            
        }
        td:nth-child(7){
            text-decoration: underline;
            cursor: pointer;
        }
    }

    th:not(:last-child) {
        background-image   : url('/assets/img/project/dashboard/th_border.png');
        background-repeat  : no-repeat;
        background-position: right center;
    }

    tr.separator {
        height: 10px;
    }

    thead {

        tr,
        th {
            border: none;
            word-break: break-word;
            text-align: center;
            vertical-align: middle;
        }
    }
    .action-btn {
        box-shadow: 0 3px 4px rgb(0 0 0 / 20%) !important;
        margin-right: 8px;
    }
}

.action-btn {
    width : 60px;
    height: 60px;
    cursor: pointer;
}