.mk-main-wrapper {
    min-height: 60vh;
    --main-color: #FF7200;
}
.next-button {
    background-color: #FF7200;
}
.alert-odd {
    background-color: #e7e7e7 !important;
}
.main-color {
    color: var(--main-color);
}
.main-bg-color {
    background-color: var(--main-color);
}