#total_collection {
    width        : 100%;
    padding      : 5px 18px;
    border-radius: 27px !important;
    border       : white;
    box-shadow   : 2px 3px 8px #ababab;
    color        : #4a4a4a;
    font-size    : 15px;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border    : white;
        box-shadow: 2px 3px 8px #ababab;
    }
}

.alert-odd {
    background-color: #F2F2F2 !important;
}

.info-wrapper {
    min-height: 400px;
}

.alert {
    // overflow-y: scroll;
    overflow: hidden;
}

.confirm-button {
    background-color: #FF7200;
}

.next-button {
    background-color: #7F7F7F;
}

.totalnumber-indicator {
    position : absolute;
    padding  : 5px;
    left     : 0%;
    top      : 50%;
    transform: translateY(-50%);

    span {
        height          : 52px;
        width           : 52px;
        border-radius   : 50%;
        background-color: #FF7200;
        line-height     : 1;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    label {
        position : absolute;
        left     : 50;
        font-size: 11px;
        transform: translateX(-50%);
        width    : 10rem;
    }
}

.progressbar-wrapper {
    height: 80px;

    .progress {
        height: 10px;
    }

    .progress-bar {
        background-color: #FF7200;

    }
}

.label-indicator-wrapper {
    position : absolute;
    left     : 50%;
    top      : 80%;
    transform: translate(-50%, -50%);
    width    : 100%;
}

.min-label::before,
.max-label::before {
    display            : block;
    // margin-left: 0.255em;
    margin             : auto;
    border-top         : 0;
    text-align         : center;
    content            : "";
    border-right       : 0.3em solid transparent;
    border-bottom      : 0.3em solid;
    border-left        : 0.3em solid transparent;
    border-bottom-color: #FF7200;
    width              : 2px;
    height             : 2px;
}

.reward-tab.active {
    border          : 1px solid #FF7200;
    background-color: transparent;
}

.reward-tab {
    background-color: #F5F5F5;
    cursor          : pointer;
    font-size       : 14px;
}

.processimage-wrapper {
    position: relative;

    img {
        width: 35%;
    }
}


.selected_number_label {
    position  : absolute;
    left      : 10%;
    top       : 60%;
    transform : translateY(-50%);
    word-break: break-word;
    width: 80px;
    font-size: 14px;
}
.reward_info_label {
    position  : absolute;
    left      : 50%;
    top       : 10%;
    transform : translateX(-50%);
    word-break: break-word;
    width: 120px;
    font-size: 14px;
}
.reward_details_label {
    position  : absolute;
    right      : 10%;
    top       : 60%;
    transform : translateY(-50%);
    word-break: break-word;
    width: 80px;
    font-size: 14px;
}

.title {
    font-size: 14px;
}
.info {
    font-size: 14px;
}