<div class="manage-reward-wrapper container-fluid d-flex flex-column">
    <label class="fs-3 ps-3 mb-5">Manage Rewards</label>
    <div class="row px-3 pe-5 mb-auto">
        <div class="col-md-12">
            <div class="table-wrapper p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Reward</th>
                            <th scope="col">Reward Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                            <th scope="col">Purchase Date</th>
                            <th scope="col">Time in Market Place</th>
                            <th scope="col">List on Market Place</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="separator"></tr>
                        <tr class="shadow-sm">
                            <td>
                                <img src="assets/img/project/dashboard/home/reward_1.png" class="cell-image rounded-2" />
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Reward1</div>
                            </td>
                            <td>
                                <div class="cell-item  d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Starbucks</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">500$</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">10/10/2022</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">3 Days 14 Hours 3 Mins</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="separator"></tr>
                        <tr class="shadow-sm">
                            <td>
                                <img src="assets/img/project/dashboard/home/reward_1.png" class="cell-image rounded-2" />
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Reward1</div>
                            </td>
                            <td>
                                <div class="cell-item  d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Starbucks</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">500$</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">10/10/2022</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">3 Days 14 Hours 3 Mins</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="separator"></tr>
                        <tr class="shadow-sm">
                            <td>
                                <img src="assets/img/project/dashboard/home/reward_1.png" class="cell-image rounded-2" />
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Reward1</div>
                            </td>
                            <td>
                                <div class="cell-item  d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Starbucks</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">500$</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">10/10/2022</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">3 Days 14 Hours 3 Mins</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="separator"></tr>
                        <tr class="shadow-sm">
                            <td>
                                <img src="assets/img/project/dashboard/home/reward_1.png" class="cell-image rounded-2" />
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Reward1</div>
                            </td>
                            <td>
                                <div class="cell-item  d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">Starbucks</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">500$</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">10/10/2022</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">3 Days 14 Hours 3 Mins</div>
                            </td>
                            <td>
                                <div class="cell-item d-flex flex-column justify-content-center align-items-center bg-white shadow-sm rounded-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage" (changePage)="onChangePage($event)">
    </app-pagination>
</div>