<app-page-layout [headerTheme]="'light'">
    <div class="container-fluid snatch-container">
        <div class="scroll-wrapper pt-3 pb-5">
            <drag-scroll #nav [scroll-x-wheel-enabled]="true">
                <div class="container-fluid px-5">
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Lifetime Coffee</p>
                            <p class="text-white">1 in 5000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Coffee Every Monday</p>
                            <p class="text-white">1 in 1000</p>
                        </div>
                    </div>
                    <div drag-scroll-item class="mx-2">
                        <div
                            class="snatch-reward-item rounded-5 d-flex flex-column justify-content-center align-items-center">
                            <p class="text-white">Lifetime Coffee</p>
                            <p class="text-white">1 in 5000</p>
                        </div>
                    </div>
                </div>
            </drag-scroll>
        </div>
        <div class="mx-auto g-5">
            <div class="sc__wrapper mx-auto" [style.background]="'url(/assets/img/project/game/snatch/' + imageName + ')'">
                <div id="js--sc--container"></div>
            </div>
        </div>
        <div class="d-grid mx-auto my-5" [style.width]="'23vw'">
            <image-button [text]="'scratch & win'" [size]="'lg'"></image-button>
        </div>
        <div class="scratch-information text-dark text-center">
            You will be charged 100$.
        </div>
        <div class="coin-image-wrapper">
            <img src="assets/img/project/game/snatch/coin.png" />
        </div>
    </div>
</app-page-layout>