.snatch-container {
    background-color: white;
    height: calc(100vh - 168px);
}
.scratch-card-bottom{
    margin-top:20px;
    .card-bottom-text{
        font-size:1.2em;
    }
}
.sc__wrapper {
    background-repeat: no-repeat!important;
    background-size: 95% 90%!important;
    background-position: center!important;
    width: 100%;
}

// snatch reward itme
.snatch-reward-item {
    width: 10rem;
    height: 2.5rem;
    background-color: black;
    font-family: app_font!important;
    p.text-white {
        font-size: 12px!important;
        line-height: 1.2;
        margin-bottom: 1px;
    }

}

.scroll-wrapper {
    cursor: pointer;
}

.coin-image-wrapper {
    position: absolute;
    right: 1rem;
    bottom: 8rem;
    img {
        width: 10rem;
    }
}