.snatch-container {
    background-color: white;
    height: calc(100vh - 168px);
}
.scratch-card-bottom{
    margin-top:20px;
    .card-bottom-text{
        font-size:1.2em;
    }
}
.sc__wrapper {
    background-repeat: no-repeat!important;
    background-size: 95% 90%!important;
    background-position: center!important;
}
