<app-page-layout [isLoading]="isLoading" [headerTheme]="'dark'">
  <div class="container-fluid mt-2 mx-0 px-0" >

    <app-progress-bar *ngIf="isLoading"></app-progress-bar>

    <ng-container>
      <div class="m-0 p-0" [ngClass]="{'d-none': isLoading}">
        <!-- top panel -->
        <div class="top-panel text-center">
          <div>
            <img src="assets/img/project/top-panel.png" class="top-panel-backimg" />
          </div>
          <div class="fw-900 landing-text lh-sm pt-5">
            Play
            <br>
            & Snatch
          </div>
          <div class="d-grid mx-auto mt-3" [style.width]="'9rem'">
            <image-button [text]="'play now'"></image-button>
          </div>
          <div class="carousel-wrapper">
            <div id="slider">
              <input type="radio" name="slider" data-index="1" id="s1">
              <input type="radio" name="slider" data-index="2" id="s2">
              <input type="radio" name="slider" data-index="3" id="s3">
              <input type="radio" name="slider" data-index="4" id="s4" checked="true">
              <input type="radio" name="slider" data-index="5" id="s5">
              <input type="radio" name="slider" data-index="6" id="s6">
              <input type="radio" name="slider" data-index="7" id="s7">
              <label for="s1" id="slide1">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/1-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/1.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">N</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s2" id="slide2">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/2-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/2.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">C</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s3" id="slide3">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/1-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/3.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">C</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s4" id="slide4">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/2-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/4.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">N</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s5" id="slide5">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/1-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/1.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">C</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s6" id="slide6">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/2-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/1.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">C</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
              <label for="s7" id="slide7">
                <div class="slider-image-wrapper">
                  <img class="slider-image-background" src="assets/img/project/top-panel-carousel/1-back.png" />
                  <img class="slider-image" src="assets/img/project/top-panel-carousel/1.png" />
                </div>
                <div class="slider-overlay"></div>
                <div class="container d-flex text-break text-dark slider-card-footer my-auto">
                  <div class="p-0 mx-0 text-center position-relative my-auto">
                    <div class="footer-avatar">C</div>
                  </div>
                  <div class="px-2 my-auto me-auto">
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Free IceCream for Life
                    </p>
                    <p class="text-break fw-bold mb-0" [style.font-size]="'12px'">
                      Starbucks
                    </p>
                  </div>
                  <div class="text-center p-0 mx-0 my-auto">
                    <div class="fw-800" [style.font-size]="'8px'">Draw Fee</div>
                    <div class="d-grid gap-2 px-3">
                      <div class="btn btn-outline-warning btn-sm" [style.font-size]="'10px'">50$</div>
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <!-- Three ways to win panel  -->

        <div class="three-ways-wrapper px-0 mx-0 mt-0 py-4 text-center">
          <h1 class=" text-dark fw-800 py-4 ">
            Three Ways To Win
          </h1>
          <div class="scroll-wrapper mx-3">
            <drag-scroll #nav [scroll-x-wheel-enabled]="true">
              <div class="container-fluid mb-5">
                <div drag-scroll-item class="me-5 ms-3"  [style.width]="'290px'" [style.height]="'385px'">
                  <div class="card h-100 bg-dark text-white rounded-4 shadow">
                    <img src="/assets/img/project/card-background.png" class="card-img rounded-4 h-100" alt="...">
                    <div class="card-img-overlay d-flex flex-column p-0 m-0">
                      <h4 class="card-title fs-3 fw-900 py-4">Spin The <br> Wheel</h4>
                      <div
                        class="card-body-content flex-fill position-relative d-flex justify-content-center align-items-end">
                        <img src="assets/img/project/spin-wheel.png" class="three-game-image rounded-top rounded-4" />
                        <div class="mb-3" [style.width]="'9rem'">
                          <image-button [text]="'play now'" (onClick)="onHandleGoSpin($event)"></image-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div drag-scroll-item class="me-5 ms-3" [style.width]="'290px'" [style.height]="'385px'">
                  <div class="card h-100 bg-dark text-white rounded-4 shadow">
                    <img src="/assets/img/project/card-background.png" class="card-img rounded-4 h-100" alt="...">
                    <div class="card-img-overlay d-flex flex-column p-0 m-0">
                      <h4 class="card-title fs-3 fw-900 py-4">Scratch <br>& Snatch</h4>
                      <div
                        class="card-body-content flex-fill position-relative d-flex justify-content-center align-items-end">
                        <img src="assets/img/project/snatch.png" class="three-game-image rounded-top rounded-4" />
                        <div class="mb-3" [style.width]="'9rem'">
                          <image-button [text]="'play now'" (onClick)="onHandleGoSnatch($event)"></image-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div drag-scroll-item class="me-5 ms-3" [style.width]="'290px'" [style.height]="'385px'">
                  <div class="card h-100 bg-dark text-white rounded-4 shadow">
                    <img src="/assets/img/project/card-background.png" class="card-img rounded-4 h-100" alt="...">
                    <div class="card-img-overlay d-flex flex-column p-0 m-0">
                      <h4 class="card-title fs-3 fw-900 py-4">Play A <br> Card</h4>
                      <div
                        class="card-body-content flex-fill position-relative d-flex justify-content-center align-items-end">
                        <img src="assets/img/project/pick-card.png" class="three-game-image rounded-top rounded-4" />
                        <div class="mb-3" [style.width]="'9rem'">
                          <image-button [text]="'play now'"></image-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </drag-scroll>
          </div>
        </div>

        <!-- New Reward Collection Panel -->

        <div class="new-reward-collection px-0 mx-0 mt-4 py-4 text-center">
          <h1 class="text-white fw-900 py-4">
            New Reward Collections
          </h1>
          <div class="scroll-wrapper pb-5 mb-5">
            <drag-scroll #nav [scroll-x-wheel-enabled]="true">
              <div class="container-fluid px-5">
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
                <div drag-scroll-item class="px-2" [style.width]="'19rem'"
                  *ngFor="let perNRewardItem of newRewardCollections;">
                  <reward-collection-card [data]="perNRewardItem"></reward-collection-card>
                </div>
              </div>
            </drag-scroll>
          </div>

        </div>

        <!-- process panel -->
        <div class="process-panel text-center">
          <h3 class="text-dark fw-900 py-4">
            The Process
          </h3>
          <div class="scroll-wrapper pb-5">
            <drag-scroll #nav [scroll-x-wheel-enabled]="true">
              <div class="container-fluid mb-5">
                <div drag-scroll-item class="me-5 ms-3" [style.width]="'22rem'">
                  <process-card [type]="'lock'" [index]="1" [buttonText]="'sign up'"></process-card>
                </div>
                <div drag-scroll-item class="mx-5" [style.width]="'22rem'">
                  <process-card [type]="'finger'" [index]="2" [buttonText]="'play now'"></process-card>
                </div>
                <div drag-scroll-item class="mx-5" [style.width]="'22rem'">
                  <process-card [index]="3" [buttonText]="'Manage \n Rewards'"></process-card>
                </div>
              </div>
            </drag-scroll>
          </div>
        </div>

        <!-- new reward drop panel -->
        <div class="new-reward-drop-panel text-dark px-0 mx-0 py-4 text-center">
          <h1 class="fw-900 py-4">
            New Reward Drops
          </h1>
          <div class="scroll-wrapper pb-5">
            <drag-scroll #nav [scroll-x-wheel-enabled]="true">
              <div class="container-fluid px-5">
                <div drag-scroll-item class="mx-2" [style.width]="'19rem'"
                  *ngFor="let perRewardDrop of rewardDropsData;">
                  <reward-drop-card [data]="perRewardDrop"></reward-drop-card>
                </div>
                <div drag-scroll-item class="mx-2" [style.width]="'19rem'"
                  *ngFor="let perRewardDrop of rewardDropsData;">
                  <reward-drop-card [data]="perRewardDrop"></reward-drop-card>
                </div>
              </div>
            </drag-scroll>
          </div>

          <div class="mx-auto my-3" [style.width]="'12rem'">
            <image-button [text]="'view rewards'"></image-button>
          </div>
        </div>

        <!-- Play to earn more -->
        <div class="play-to-earn px-0 mx-0 pb-5">
          <div
            class="play-board rounded-4 position-relative text-center d-flex flex-column justify-content-around align-items-center">
            <img src="assets/img/project/play_to_earn/1.png" class="playboard-coin-1" />
            <img src="assets/img/project/play_to_earn/2.png" class="playboard-coin-2" />
            <img src="assets/img/project/play_to_earn/3.png" class="playboard-coin-3" />

            <div class="fw-900 lh-sm play-board-title">
              Play More <br> To Earn More <br> Snatcheroos
            </div>
            <div class="mx-auto my-3" [style.width]="'12rem'">
              <image-button [text]="'learn more'"></image-button>
            </div>
          </div>
        </div>

        <!-- release your business panel -->
        <div class="release-business-panel px-0 mx-0 pb-5">
          <div
            class="release-business-board rounded-4 position-relative text-center d-flex flex-column justify-content-center align-items-center">
            <img src="assets/img/project/release_business/1.png" class="release-panel-coin-1" />
            <img src="assets/img/project/release_business/2.png" class="release-panel-coin-2" />

            <div class="fw-900 lh-sm text-dark release-board-title">
              Release your business <br> Rewards on Snatch
            </div>
            <div class="mx-auto my-3" [style.width]="'12rem'">
              <image-button [text]="'join us now'"></image-button>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

  </div>
</app-page-layout>