.top-panel {
    height    : 810px;
    min-height: 810px;
    width     : 100%;
    position  : relative;
    overflow  : hidden;

    .top-panel-backimg {
        position: absolute;
        bottom  : 0;
        height  : 130px;
        width   : 200vw;
        left    : -50%;
    }
}

.landing-text {
    font-size: 4.5rem;
}

.three-ways-wrapper {
    position        : relative;
    background-color: white;
}

.three-game-image {
    position : absolute;
    left     : 50%;
    bottom   : 0;
    transform: translate(-50%, 0%);
    width    : 100%;
    max-width: 100%;
}

.new-reward-collection {
    background-color: black;
    color           : white;
}

// process panel
.process-panel {
    background-color: #f5f5f5;
}

// new reward drop panel
.new-reward-drop-panel {
    background-color: white;
}

// play to earn
.play-to-earn {
    height          : 480px;
    width           : 100%;
    background-color: white;
}

.play-board {
    height          : 100%;
    background-color: black;
    margin-left     : 4rem !important;
    margin-right    : 4rem !important;
}

.playboard-coin-1 {
    position: absolute;
    left    : -3.5rem;
    top     : 40%;
    width   : 150px;
    height  : 150px;
}

.playboard-coin-2 {
    position: absolute;
    left    : 4.5rem;
    top     : 4rem;
    width   : 140px;
    height  : 140px;
}

.playboard-coin-3 {
    position: absolute;
    right   : 0rem;
    top     : 45%;
    width   : 140px;
    height  : 140px;
}

.release-business-panel {
    height          : 400px;
    width           : 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.release-panel-coin-1 {
    position: absolute;
    left    : -1.5rem;
    top     : 55%;
    width   : 180px;
    height  : 180px;
}
.release-panel-coin-2 {
    position: absolute;
    right   : -5rem;
    top     : 10%;
    width   : 200px;
    height  : 200px;
}
.release-business-board {
    height      : 100%;
    margin-left : 4rem !important;
    margin-right: 4rem !important;
}

// top panel slide
[type=radio] {
    display: none;
}

#slider {
    margin-top     : 100px;
    margin-bottom  : 0px;
    height         : 400px;
    position       : relative;
    perspective    : 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin          : auto;
    width           : 300px;
    height          : 350px;
    border-radius   : 10px;
    position        : absolute;
    left            : 0;
    right           : 0;
    cursor          : pointer;
    transition      : transform 0.4s ease;
    background-color: white;
}

#slider .slider-image-wrapper {
    background   : #a5fda5;
    border-radius: 10px;
    width        : 270px;
    height       : 260px;
    margin       : auto;
    margin-top   : 15px;
}

#slider .slider-image-wrapper img {
    opacity  : 0;
    width    : 100%;
    height: 340px;
    position : absolute;
    left     : 0;
    top      : -5rem;
}

.slider-card-footer img {
    border: 1px solid orange;
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    .slider-image-wrapper {
        position: relative;

        img {
            opacity           : 1;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition   : opacity 1s ease-in-out;
            -ms-transition    : opacity 1s ease-in-out;
            -o-transition     : opacity 1s ease-in-out;
            transition        : opacity 1s ease-in-out;
            animation         : zoom-in-zoom-out 1s ease 1;
        }
    }
}



@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
        position : absolute;
        left     : 0;
        top      : 0;
    }

    100% {
        transform: scale(1, 1);
        position : absolute;
        left     : 0;
        top      : -5rem;
    }
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform : translate3d(-40vw, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform : translate3d(-20vw, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform : translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform : translate3d(20vw, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform : translate3d(40vw, 0, -200px);
}

.slider-card-footer {
    height: 75px;
}