.top-panel {
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .top-panel-backimg {
        position: absolute;
        bottom: 0;
        height: 130px;
        width: 200vw;
        left: -50%;
    }
}

.landing-text {
    font-size: 4.5rem;
}

.three-ways-wrapper {
    position: relative;
    background-color: white;
}

.three-game-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
}

.new-reward-collection {
    background-color: black;
    color: white;
}

// process panel
.process-panel {
    background-color: #f5f5f5;
}

// new reward drop panel
.new-reward-drop-panel {
    background-color: white;
}

// play to earn
.play-to-earn {
    height: 480px;
    width: 100%;
    background-color: white;
}

.play-board {
    height: 100%;
    background-color: black;
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.playboard-coin-1 {
    position: absolute;
    left: -3.5rem;
    top: 40%;
    width: 150px;
    height: 150px;
}

.playboard-coin-2 {
    position: absolute;
    left: 4.5rem;
    top: 4rem;
    width: 140px;
    height: 140px;
}

.playboard-coin-3 {
    position: absolute;
    right: 0rem;
    top: 45%;
    width: 140px;
    height: 140px;
}

.release-business-panel {
    height: 480px;
    width: 100%;
    background-color: white;
}

.release-business-board {
    height: 100%;
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}