<app-page-layout [headerTheme]="'light'">
    <div class="container-fluid m-0 p-0 merchant-auth-wrapper">
      <div class="left-top-img">
        <img src="assets/img/project/play_to_earn/1.png" />
      </div>
      <div class="left-bottom-img">
        <img src="assets/img/project/release_business/1.png" />
      </div>
      <div class="right-top-img">
        <img src="assets/img/project/play_to_earn/3.png" />
      </div>
      <div class="right-middle-img">
        <img src="assets/img/project/play_to_earn/2.png" />
      </div>
      <div class="right-bottom-img">
        <img src="assets/img/project/release_business/2.png" />
      </div>
      <ng-template auth-wizard-host></ng-template>
    </div>
  </app-page-layout>
  