.merchant-auth-wrapper {
    background-color: white;
    position        : relative;
    overflow-x: hidden;
  }
  
  .left-top-img {
    position: absolute;
    left    : 1rem;
    top     : 3rem;
    width   : 10vw;
  
    img {
      width: 100%;
    }
  }
  
  .right-middle-img {
    position : absolute;
    right     : -3rem;
    top      : 10rem;
    transform: translateY(-50%);
    width    : 10vw;
  
    img {
      width: 100%;
    }
  }
  
  .left-bottom-img {
    position: absolute;
    left    : -3rem;
    top  : 15rem;
    width   : 15vw;
  
    img {
      width: 100%;
    }
  }
  
  .right-top-img {
    position: absolute;
    right   : 5rem;
    top     : 3rem;
    width   : 8vw;
  
    img {
      width: 100%;
    }
  }
  
  .right-bottom-img {
    position: absolute;
    right   : -2rem;
    top  : 20rem;
    width   : 20vw;
  
    img {
      width: 100%;
    }
  }