.navbar-brand {
  img {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  .title-wrapper {
    vertical-align: middle;
    display: inline-block;
    border-left: 1px solid #adadad;
    padding-left: 15px;
    margin-left: 15px;
    span {
      display: block;
      &.subtitle {
        font-size: 71%;
      }
    }
  }
}
.right-navbar {
  .nav-link {
    font-size: 1.5rem;
  }
}
.navbar-light {
  background-color: white!important;
  .nav-link {
    color: black!important;
  }
}

.dropdown-toggle::after {
  border-width: 0px!important;
}
.custom-dropdownmenu-content::after, .custom-dropdownmenu-content::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 100%;
  right: 20px;
  border: 6px solid transparent;
  border-bottom-color: #fff;

}
.custom-dropdownmenu-content::after {
  right: 19px;
  border: 5px solid transparent;
  border-bottom-color: #fff;
}
@media screen and (max-width: 992px) {
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .navbar-brand {
    margin-left: auto;
  }
}