<div class="row m-0 px-0 py-5">
    <label class="mb-3">Style</label>
    <div class="col-md-12 col-lg-6 col-xs-12 d-flex flex-column">
        <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-2 row-cols-xl-2">
            <div class="col mb-3">
                <div class="card summary-item text-center py-0 rounded-4 border-0 my-0 h-100">
                    <img src="assets/img/project/merchant/artwork/1.png" class="img-fluid" />
                    <label>Style</label>
                </div>

            </div>
            <div class="col mb-3">
                <div class="card summary-item text-center py-0 rounded-4 border-0 my-0 h-100">
                    <img src="assets/img/project/merchant/artwork/2.png" class="img-fluid" />
                    <label>Character</label>
                </div>

            </div>
            <!-- <div class="col mb-3">
                <div class="card summary-item text-center py-0 rounded-4 border-0 my-0 h-100">
                    <img src="assets/img/project/merchant/artwork/3.png" class="img-fluid" />
                    <label>Style</label>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card summary-item text-center py-0 rounded-4 border-0 my-0 h-100">
                    <img src="assets/img/project/merchant/artwork/4.png" class="img-fluid" />
                    <label>Character</label>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xs-12 d-flex flex-column">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <div class="summary-detail-item d-grid mb-3">
                    <label>Reward 1</label>
                    <label>50 Units - 5% 15% Off</label>
                    <label>15/10/2022</label>
                </div>
                <div class="summary-detail-item d-grid mb-3">
                    <label>Reward 1</label>
                    <label>50 Units - 5% 15% Off</label>
                    <label>15/10/2022</label>
                </div>
            </div>
            <div class="card-footer summary-detail-footer d-flex justify-content-between align-items-center py-3">
                <label class="text-white">Total</label>
                <label class="text-white">50 USD</label>
            </div>
        </div>
    </div>
</div>