<app-toolbar-action [isFilterShow]="false"></app-toolbar-action>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4 row-cols-sm-2 g-3">
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>
    <div class="col px-2">
        <app-collection-item></app-collection-item>
    </div>

</div>

<app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage" (changePage)="onChangePage($event)">
</app-pagination>