.market-place-content {
    min-height: 85vh;
    position: relative;
    padding: 0rem 5rem;
    background-color: white;
    color: black;
    // font-family: app_font;
    
    .toolbar-content {
        height: 40px;
        background-color: red;
    }
}