.manage-collection-wrapper {
    min-height      : calc(100vh - 177px);
    position        : relative;
    background-color: white;
    color           : black;
}
.pie-chart {
    --p          : 30;
    --b          : 10px;
    --c          : #FF7200;
    --w          : 211px;
    width        : var(--w);
    aspect-ratio : 1;
    display      : inline-grid;
    place-content: center;
    margin       : 5px;
    font-size    : 25px;
    font-weight  : bold;
    font-family  : sans-serif;
    position: relative;
    background-color: black;
    border-radius: 50%;
}

.pie-chart:before {
    content      : "";
    position     : absolute;
    border-radius: 50%;
    inset        : 0;
    background   : conic-gradient(var(--c) calc(var(--p)*1%), #fff 0);
    border: 1px solid black;
    width: 91%;
    height: 91%;
    top: 3px;
    left: 6%;
    // box-shadow: 2px 3px 1px #282828, white 2px 1px 1px inset;
}
.indicator {
    position: absolute;
    top: 15px;
    right: -80px;
    .indicator-info {
        position: absolute;
        right: -15px;
        top: -10px;
        background: white;
    }
}
.form-check-input:checked {
    background-color: #23C062;
    border-color: #269a54;
}
.form-check-input:focus {
    background-color: #23C062;
    border-color: #269a54;
    box-shadow: none;
}

.table-wrapper {
    th:not(:last-child) {
        background-image   : url('/assets/img/project/dashboard/th_border.png');
        background-repeat  : no-repeat;
        background-position: right center;
    }
    th {
        background-color: #F2F2F2;
        
    }
    tr.separator {
        height: 10px;
    }

    tr,th, td {
        border: none;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
}