<app-page-layout [headerTheme]="'light'">
    <div class="container-fluid m-0 p-0 mega-reward-wrapper d-flex flex-column">
        <div class="left-top-img">
            <img src="assets/img/project/play_to_earn/1.png" />
        </div>
        <div class="left-bottom-img">
            <img src="assets/img/project/release_business/1.png" />
        </div>
        <div class="right-middle-img">
            <img src="assets/img/project/play_to_earn/2.png" />
        </div>
        <div class="right-bottom-img">
            <img src="assets/img/project/release_business/2.png" />
        </div>
        <div class="px-5 py-5 d-flex flex-column align-items-center flex-fill">
            <div class="mega-title">Blind bid capabilities <br> coming soon</div>
            <div class="container pt-5 px-5">
                <div class="main-timeline  timeline-container">
                    <div class="timeline right">
                        <div class="card border-0 rounded-4">
                            <div class="card-body p-4">
                                <p class="mb-0">MISSED OUT ON A MEGA REWARD<br>
                                    YOU REALLY WANT TO OWN!</p>
                            </div>
                        </div>
                        <div class="pointer-number d-flex justify-content-center align-items-center">1</div>
                    </div>
                    <div class="timeline left">
                        <div class="card border-0 rounded-4">
                            <div class="card-body p-4">
                                <p class="mb-0">CONFIRM THE DEAL & <br>
                                    GET YOUR MEGA REWARD!</p>
                            </div>
                        </div>
                        <div class="pointer-number d-flex justify-content-center align-items-center">2</div>
                    </div>
                    <div class="timeline right">
                        <div class="card border-0 rounded-4">
                            <div class="card-body p-4">
                                <p class="mb-0">GET NOTIFIED IF ANY ONE OF <br>
                                    THE OWNERS SHOWS INTEREST</p>
                            </div>
                        </div>
                        <div class="pointer-number d-flex justify-content-center align-items-center">3</div>
                    </div>
                    <div class="timeline left">
                        <div class="card border-0 rounded-4">
                            <div class="card-body p-4">
                                <p class="mb-0">CONFIRM THE DEAL & <br>
                                    GET YOUR MEGA REWARD!</p>
                            </div>
                        </div>
                        <div class="pointer-number d-flex justify-content-center align-items-center">4</div>
                    </div>
                    <div class="center-axis"></div>
                </div>
            </div>
        </div>
    </div>
</app-page-layout>