.wrapper {
    background-color: black;
    position        : relative;
    overflow        : hidden;
    border-bottom   : 1px solid grey;
    height          : calc(100vh - 168px);

    .left-top-img {
        position: absolute;
        left    : 1rem;
        top     : 3rem;
        width   : 10vw;

        img {
            width: 100%;
        }
    }

    .left-middle-img {
        position : absolute;
        left     : 10rem;
        top      : 55%;
        transform: translateY(-50%);
        width    : 10vw;

        img {
            width: 100%;
        }
    }

    .left-bottom-img {
        position: absolute;
        left    : 1rem;
        bottom  : -5rem;
        width   : 15vw;

        img {
            width: 100%;
        }
    }

    .right-top-img {
        position: absolute;
        right   : 5rem;
        top     : 3rem;
        width   : 8vw;

        img {
            width: 100%;
        }
    }

    .right-bottom-img {
        position: absolute;
        right   : -2rem;
        bottom  : 0;
        width   : 15vw;

        img {
            width: 100%;
        }
    }
}
.custom-button {
    background-color: #FF7200;
    color: white;
    padding: 10px 35px;
}