<app-page-layout [headerTheme]="'light'">
    <div class="bg-white text-dark pt-5 container-fluid px-5">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="collection-summary-title">
                    Your Collection Summary
                </div>
                <div class="bg-light collection-summary-content p-4">
                    <div class="mb-4">
                        <label for="sm_cl_name" class="form-label">Collection Name</label>
                        <input type="text" id="sm_cl_name" value="Coffee Addicts" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="sm_cl_type" class="form-label">Collection Type</label>
                        <input type="text" id="sm_cl_type" value="Draw Based" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="sm_cl_launch_date" class="form-label">Intended Launch Date</label>
                        <input type="text" id="sm_cl_launch_date" value="Coffee Addicts" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number active">1</div>
                            <div class="collection-tab-title">Information</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number">2</div>
                            <div class="collection-tab-title">Dynamics</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number">3</div>
                            <div class="collection-tab-title">Rewards</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number">4</div>
                            <div class="collection-tab-title">Artwork</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number">5</div>
                            <div class="collection-tab-title">Price</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="collection-tab d-flex align-items-center">
                            <div class="collection-tab-number">6</div>
                            <div class="collection-tab-title">Summary</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-page-layout>