<app-page-layout [headerTheme]="'light'">
    <div class="bg-white text-dark pt-5 container-fluid px-5 merchant-wrapper">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="collection-summary-title">
                    Your Collection Summary
                </div>
                <div class="bg-light collection-summary-content p-4">
                    <div class="mb-4">
                        <label for="sm_cl_name" class="form-label">Collection Name</label>
                        <input type="text" id="sm_cl_name" value="Coffee Addicts" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="sm_cl_type" class="form-label">Collection Type</label>
                        <input type="text" id="sm_cl_type" value="Draw Based" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="sm_cl_launch_date" class="form-label">Intended Launch Date</label>
                        <input type="text" id="sm_cl_launch_date" value="Coffee Addicts" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-2" *ngFor="let perTab of tabData; let i = index;">
                        <div class="collection-tab d-flex align-items-center" (click)="onHanldeTransitionTab(i)">
                            <div class="collection-tab-number" [ngClass]="{'active' : i == currentIndex}">{{perTab.index}}</div>
                            <div class="collection-tab-title">{{perTab.title}}</div>
                        </div>
                    </div>
                </div>
                <ng-template merchant-wizard-host></ng-template>
            </div>
        </div>
    </div>
</app-page-layout>