* {
  color: black;
}
.dashboard-wrapper {
  background-color: white;
  min-height      : calc(100vh - 177px);
  position        : relative;
  overflow        : hidden;
}

.top-card {
  background-color: #f2f2f2 !important;
}

.pie-chart {
  --p: 30;
  --b: 10px;
  --c: #ff7200;
  --w: 211px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  place-content: center;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  background-color: black;
  border-radius: 50%;
}

.pie-chart:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), #fff 0);
  border: 1px solid black;
  width: 91%;
  height: 91%;
  top: 3px;
  left: 6%;
  // box-shadow: 2px 3px 1px #282828, white 2px 1px 1px inset;
}

.item-image {
  width: 60px;
  height: 60px;
}
.list-item-image {
  width: 70px;
  height: 70px;
}

.collection-img {
  height: auto;
  width: 100%;
  max-width: 230px;
  margin-bottom: 15px;
  object-fit: cover;
}

.money-spent-card {
  height: 300px !important;
  background-color: #000000;
}
.component-redeem-reward {
  .reward-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
  .item-title {
    font-size: 10px;
    word-break: break-word;
    text-align: center;
  }
  .item-name {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 992px) {
  .component-redeem-reward {
    order: 3;
  }
}
@media (min-width: 643px) and (max-width: 768px) {
  .pie-chart {
    --w: 120px;
  }
  .component-redeem-reward {
    .reward-detail {
      .item-name {
        font-size: 11px;
      }
    }
    .item-image {
      width: 40px;
      height: 40px;
    }
  }
}
@media (min-width: 607px) and  (max-width: 642px) {
  .pie-chart {
    --w: 100px;
  }
  .component-redeem-reward {
    .reward-detail {
      .item-name {
        font-size: 10px;
      }
      
    }
    .item-title {
      font-size: 7px;
    }
    .item-image {
      width: 38px;
      height: 38px;
    }
  }
}
@media (max-width: 606px) {
  .pie-chart {
    --w: 100px;
  }
  .component-redeem-reward {
    .reward-detail {
      .item-name {
        font-size: 8px;
      }
    }
    .item-title {
      font-size: 5px;
    }
    .item-image {
      width: 32px;
      height: 32px;
    }
  }
}